%header{:class => "showroom__header"}
  %h1 Showroom

%section{:class => "showroom__container"}

  %ul{:class => "showroom__list--cars"}
    - @cars.each do |car|
      -# all available data: car[:make], car[:model], car[:engine], car[:details], car[:image_name], car[:has_new_offer]

      %li
        %div{:class => "card"}

          %div{:class => "card__product"}

            %div{:class => "card__product--details"}
            
              %p
                = car[:make]

              %h2
                = car[:model]

              - if car[:has_new_offer]
                %span{:class => "badge__notification"}
                  1 new offer

              %span{:class => "badge__action--remove", 
                    :aria-label => "Delete card",
                    :role => "button"}
                %img{:src => asset_path("bin.svg"),
                    :alt => "Rubbish icon"}

            %div{:class => "card__product--image",
                :style => "background-image: url(#{asset_path(car[:image_name])})"}

          %div{:class => "card__details"}
            %p
              %strong
                = car[:engine]
            %p
              = car[:details]
